.sidebar {
    padding: 25px 10px;
    flex: 0.33;
}

button.sidebar__logout > button {   
        width: 300px;
        background-color: #2e81f4;
        color: #eff2f5;
        font-weight: 800;
     }
     

    


