.header__left > img {
    height: 40px;
}
.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
}
.header__left {
    display: flex;
    justify-content: space-evenly;
}
.header__input {
    display: flex;
    align-items: center;
}